.contact {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  .contact .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact .rightSide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .contact .rightSide h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 60px;
    margin-left: 40px;
  }
  
  form {
  width: 80%;
  border: 1px solid #dfdfdf;
  padding: 45px;
  border-radius: 20px;
  background: azure;
  }

  form label {
    margin-top: 15px;
    color: teal;
  }

  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  form input {
    height: 30px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }

  form textarea {
    height: 80px;
    width: 80%;
    border: none;
    border-bottom: 1px solid;
  }
  
  button {
    background: #0563b4 !important;
    margin-top: none;
    width: 150px;
    height: 40px;
    border: none;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
  }

  p {
    color: red;
  }